version: "3.9"

services:
  api:
    build: .
    environment:
      - DB_STORAGE=/usr/src/app/data/database.sqlite
    container_name: yettel-task-api
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3001:3001"
    volumes:
      # folder na hostu -> folder u kontejneru gde je SQLite fajl
      - ./data:/usr/src/app/data
